<section class="hero is-primary is-large header-image">
	<div class="hero-head">
		<header class="nav">
			<div class="container">
				<div class="nav-left">
					<a class="nav-item logo" href="#">
						Resume Maker
					</a>
				</div>
			</div>
		</header>
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h2 class="title is-2">
			Create Your Resume In 5 Minutes
			</h2>
			<p>
				<a class="button is-outlined create">
					<span class="icon">
						<i class="fa fa-hand-o-right"></i>
					</span>
					<span>
						Take me there
					</span>
				</a>
			</p>
		</div>
	</div>
</section>